@model MovieViewModel

<a asp-controller="Movies" asp-action="Create">Add a new movie</a>

@if (Model.Movies.Any())
{
    <table>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td> @movie.Title</td>
                <td><a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Detail" asp-route-id="@movie.Id">Detail</a></td>
                <td><a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id">Edit</a></td>
                <td><a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Delete" asp-route-id="@movie.Id">Delete</a></td>
            </tr>
        }
    </table>
}
else
{
    <p>Er zijn geen films om weer te geven.</p>
}